#app {
  /* font-family: Cormorant; */
}

.like_button {
  margin-left: 1vw;
  cursor: pointer;
  color: rgb(65, 147, 255);
}

.width100 {
  max-width: 250px;
  height: 250px;
  width: auto;
}

.bold {
  font-weight: bold;
}

.thumb {
  margin-right: 2px;
}

.breakLine {
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.breakLine_ {
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

.container {
  display: flex;
  align-items: center;
}

.post {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}

.info {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 175%;
  margin-bottom: 1vh;
}

.title {
  font-size: 120%;
  margin-bottom: 1vh;
}

.bio {
  margin-bottom: 1vh;
}

.header_text {
  font-size: 300%;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vh;
  color: rgb(228, 148, 0);
}